


@import "../../colors";

@mixin tablet-screen {
    @media(min-width:750px){
        @content
    }
};
@mixin desktop-screen{
    @media(min-width:1000px){
        @content
    }
    
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-family: 'Inter', sans-serif;
    

   
}
.btn-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
    
    @include tablet-screen(){
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
    .menu-list-btn{
        border: none;
        background-color: transparent;
        color: black;
        padding: 0.75em 8.5em;
        width: 80%;
        

        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 16px;
        border: 1px solid lightgray;
        @include tablet-screen(){
            padding:1em 2em;
            // width: 200px;
            margin-right: 1em;
        }
        
        
    }

    .active-btn{
        background-color: #35B8BE;
        color: white;
    }
}

.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 1px solid lightgrey;
    margin-bottom: 1em;
    border-radius: 10px;
    
    

    @include tablet-screen(){
        flex-direction: row;
        padding: 1em;
      
    }
   

    .product-photo{
        width: 300px;
        margin: 0 auto;
        margin-bottom: 1em;
        margin-top: 1em;
        border-radius: 10px;
        

        @include tablet-screen(){
            width: 120px;
     
        }
    }

}

.item-info-section{
    display: flex;
    flex-direction: column;
    padding-left: 1.2em;
    @include tablet-screen(){
        padding-top: 1em;
    }

 
    .item-name{
        color: black;
        font-weight: 700;
        margin-bottom: 5px;
        @include tablet-screen(){
            font-size: 18px;
            

        }
    }
    .item-info{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5em;
        @include tablet-screen(){
            flex-direction: row;
            justify-content: space-between;
        }
        
    }
    .item-price{
        color:$brand;
        font-size: 16px;
    }
    .item-description{
        color: $paragraph;
        margin-bottom: 1em;
        @include tablet-screen(){
            max-width: 500px;
        }
        @include desktop-screen(){
            // max-width: 300px;
        }
    }

}
.sent-to-cart{
    margin-bottom: 2em;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    // @include tablet-screen(){
    //     flex-direction: column;
    // }
 
    .cart-btn{
        background-color: #35B8BE;
        color: white;
        text-align: center;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
    }
    .alert{
        // border:1px solid red;
        // color:red;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        border-width: 2px;
        font-size: 14px;
       
    }
}

.menu-items-container{
    @include desktop-screen(){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        gap:25px;
        max-width: 1440px;
        
    }
}
