@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.home-container {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.intro {
  padding-bottom: 10px;
  padding-top: 7em;
  background-image: url(../../assets/bg-1.svg);
  background-size: cover;
  margin-bottom: 3em;
}

.intro .hero-h1 {
  padding: 0 20px;
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.1;
  margin-bottom: 0.5em;
  color: #191B22;
}

.intro .hero-h1 span {
  color: #35B8BE;
}

.intro p {
  color: #546285;
  line-height: 1.3;
  margin-bottom: 3em;
}

.intro .primary-btn {
  padding: 20px 35px;
  border: none;
  background-color: #35B8BE;
  color: white;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  border-radius: 6px;
  margin-bottom: 1.5em;
}

.intro img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.review-text {
  margin-bottom: 2em;
}

.review-text span {
  color: #35B8BE;
}

.hero-img-wrap img {
  width: 350px;
  margin-bottom: 1em;
}

.content {
  background-image: url(../../assets/bg-3.png), url(../../assets/bg-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 5em;
  padding: 24px;
}

.content .content-title {
  font-size: 2.75rem;
  font-weight: bolder;
  color: #35B8BE;
  line-height: 1;
  margin-bottom: 0.5em;
  padding-top: 50px;
}

.content .content-para {
  color: #546285;
  font-size: 18px;
  margin-bottom: 1em;
}

.content img {
  width: 350px;
}

.content button {
  padding: 20px 35px;
  border-radius: 6px;
  background-color: #35B8BE;
  color: white;
  border: none;
  font-size: 18px;
  margin-bottom: 3em;
}

.content-show {
  padding: 0 24px;
}

.content-show .item {
  margin-bottom: 5em;
}

.content-show img {
  width: 350px;
}

.content-show .content-title {
  font-size: 40px;
  color: #35B8BE;
  margin-bottom: 1.5em;
  font-weight: 700;
}

.content-show .info-title {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 10px;
}

.content-show .content-info {
  color: #546285;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.menu-section {
  background-image: url(../../assets/bg-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 10em;
}

.menu-section .menu-title {
  color: #35B8BE;
  font-size: 48px;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

.menu-section .menu-description {
  padding: 0 20px;
  color: #546285;
  font-size: 18px;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 2em;
}

.menu-section .to-menu {
  border: none;
  font-size: 18px;
  color: white;
  background-color: #35B8BE;
  padding: 20px 35px;
  border-radius: 5px;
  margin-bottom: 7em;
}

.content-section {
  padding: 20px;
}

.content-section img {
  width: 350px;
}

.content-section .title {
  font-size: 43px;
  color: #35B8BE;
  margin-bottom: 0.75em;
}

.content-section .para {
  color: #546285;
  line-height: 1.5;
  margin-bottom: 1.75em;
}

.content-section .nav-faq {
  border: none;
  font-size: 18px;
  color: white;
  background-color: #35B8BE;
  padding: 20px 35px;
  border-radius: 5px;
  width: 80%;
}

.bg-brand {
  background-image: url(../../assets/bg-1.svg);
  background-size: cover;
  background-position: center center;
  padding-bottom: 7em;
  margin-bottom: 0.5em;
}

.content-last img {
  width: 350px;
  margin-bottom: .5em;
}

.content-last .content-info {
  background-color: #2bc8d0;
  padding: 2em 10px;
  font-size: 43px;
  text-align: left;
  font-weight: 700;
  margin: 10px;
  color: #1b9097;
  background-image: url(../../assets/pattern.svg);
  background-position: 0 100px;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 1.5;
}

.content-last p {
  margin-bottom: 1em;
}

.content-last button {
  background-color: white;
  color: #35B8BE;
  border: none;
  font-size: 24px;
  padding: 20px 35px;
  width: 80%;
  border-radius: 8px;
}

.content-last span {
  color: white;
}
/*# sourceMappingURL=Home.css.map */