@import "../../colors";

.header-container{
    background-color: $brand;
    font-family: 'Inter', sans-serif;
    min-width: 100%;
    

    .message{
        color:white;
        opacity: 0.8;
        text-align: center;
        padding:1em;
        display: none;


        @media (min-width:500px) {
            display: block;
        }
        
    }
}