@import "../../colors";

@mixin tablet-screen {
    @media (min-width:750px) {
        @content
        
    }
    
}

.footer-container{
    background-image: url(../../assets/bg-2.svg);
    background-repeat: no-repeat;
    background-size: contain;

    background-color: #f5fbfc;
    text-align: left;
    padding: 4em 20px;
    padding-bottom: 20px;

    @include tablet-screen(){
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid lightgray;
        margin-bottom: 1em;
    }

    img{
        width: 8%;
        margin-bottom: 2em;
        @include tablet-screen(){
            max-width: 20%;
        }
    }
    .footer-title{
        color: $paragraph;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 3em;
    }  
}

.footer-right{

    border-bottom: 1px solid lightgray;
    margin-bottom: 2em;

    @include tablet-screen(){
        border: none;

    }
    p{
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 2em;
    }

    ul{
        padding: 0;
        li{
            list-style-type: none;
            margin-bottom: 1em;
            color: $paragraph;
        }
    }
}

.social-list{

    width: 100%;
    @include tablet-screen(){
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
    ul{

        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;

        &>*{
            padding: 10px;
            color: $paragraph;
            border: 1px solid lightgray;
            border-radius: 50%;
        }
    }

}