//colors
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

$brand: #35B8BE;
$alice-blue:#F5FBFC;
$coral:#FF8946;

$heading:#191B22;
$paragraph:#546285;

//fonts
